html, body, div, span, 
article, section, header, footer,
table, tr, th, td,
p, a {
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

body {
  font-size: 20px;
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
	background: black;
	background: url("bground.jpg");
	background-size: cover;
	color: white;
  font-family:  'Iceland', Verdana, sans-serif;
}

#main {
	background: black;
	background-color:rgba(0, 0, 0, 0.5);
	height: 100%;
	margin: auto;
  overflow: hidden;
	padding: 0px 100px 0px 100px;
	width: 1000px;
	z-index: -2;
}

#right, #left {
	background: none;
	display: inline-block;
	height: 75%;
	margin: auto;
  margin-top: 10%;
	vertical-align:top;
	width: 48%;
}

#left {
	text-align: left;
}

#site-name {
  font-family: 'Trade Winds', sans-serif;
	font-size: 60px;
}

#right {

}

h1 {
  font-family: 'Iceland', sans-serif;
}

.btn {

}

button {
	background: none;
	border: 2px solid white;
	border-top: none;
	color: white;
	display: block;
  font-family: 'Iceland', sans-serif;
  font-size: 30px;
	outline: none;
	overflow:hidden;
	padding: 5%;
	position: relative;
	width: 80%;
	z-index: 1;
}

button:first-child {
	border-top: 2px solid white;
}

button:after {
	background: white;
	content: "";
	height: 100%;
	left: 50%;
	opacity:0;
	position: absolute;
	top: 0%;
	transform: skew(45deg, 0deg) ;
	-webkit-transform: skew(45deg, 0deg) ;
	-moz-transform: skew(45deg, 0deg) ;
	-o-transform: skew(45deg, 0deg) ;
	-ms-transform: skew(45deg, 0deg) ;
	transition: 0.5s;
	transition-timing-function: ease;
	width: 0%;
	z-index: -1;
}

button:hover:after{
	left: 0%;
	opacity:1;
	width:100%;
}

button:active{
  background-color: rgba(127, 65, 52, 0.9)
}

button:active:after{
	left: 0%;
	width:100%;
	opacity:1;
}

button:hover, button:active {
	color: black;
  cursor: pointer;
}

/* Used when section slides in from
   top of screen as opposed to 
   bottom of screen which is default */
.shift-top {
  top: -200%;
}

/* The section that user clicked on */
.focus {
  position: relative;
  top: 0;
	transition: 0.5s;
	transition-timing-function: ease;
}

/* Needed so that when section[position]: absolute, 
   the section height and width doesn't grow to 
   height and width of the body */
#section-wraper {
  height: 100%;
  width: 90%;
  position: relative;
}

/* By default, sections are displayed 
   but shifted off screen to make
   sliding in and out of screen simplier */
section  {
  display: block;
	background-color: rgba(127, 65, 52, 0.9);
	border-radius: 10px;
  height: auto;
  line-height: 200%;
	padding: 10px 30px 10px 30px;
  width: auto;
  position: absolute;
  top: 200%;
}

.center {
  text-align: center;
}

#statement {
  line-height: 125%;
  padding-bottom: 10px;
}

#map {
  height: 55%;
}

.wraper-expanded {
  background: rgba(0,0,0,0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  z-index: 1;
}

.wraper-expanded  > #map {
  position:relative;
  width: 70%;
  margin: auto;
  margin-top: 15%;
  border: 2px solid white;
  border-radius: 7px;
}

th {
  text-align: right;
  padding-right: 10px;
}

td {
  padding-bottom: 10px;
}	

footer {
  position: absolute;
  bottom: 0;
  left: 0;
	background-color:rgba(0, 0, 0, 0.7);
  display: block;
  width: 100%;
  text-align: center;
  font-family: 'Iceland', sans-serif;
  padding-bottom: 3px;
  color: rgb(127, 65, 52);
  letter-spacing: 2px;
  z-index: 3;
}	

footer > a, #contact a {
  color: inherit;
  text-decoration: none;
}

.divider {
  padding: 0px 20px 0px 20px;
}

@media screen and (max-width: 1200px) {
  #main {
    padding: 0px 50px 0px 50px;
  	width: auto;
  }
  
  #left, #right {
    margin-top: 5%;
  }
  
  #site-name {
    font-size: 50px;
  }
}

@media screen and (max-width: 800px) {
  #site-name {
    font-size: 45px;
  }
  
  #about, #location {
    font-size: 14px;
  }
}
